:root {
  --text: hsl(85, 85%, 5%);
  --background: hsl(0, 0%, 100%);
  --primary: hsl(83, 88%, 56%);
  --secondary: hsl(83, 88%, 87%);
  --accent: hsl(83, 88%, 36%);
  --primary-font: 'IBM Plex Sans', sans-serif;
  --secondary-font: 'Hubballi', cursive;
  --tertiary-font: 'Manrope', sans-serif;
}

*,
*::before,
*::after {
  font-family: var(--primary-font);
  box-sizing: border-box;
  color: var(--text);
}

html,
body,
#app {
  margin: 0;
  height: 100%;
  background-color: var(--background);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* 
main {
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  gap: 4em;
} */

.page-name {
  color: var(--accent);
  font-size: 1.25em;
}

.heading {
  font-size: 2em;
}
